@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Noto+Sans|Open+Sans:400,700&display=swap');
*{
    margin: 0;
    padding: 0;
    border-radius: 10px;
    box-sizing: border-box;
}

 #language-select
{
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
    line-height: 1.6;
}

.custom-select
{
    width: 120px;
    height: 30px;
    border-radius: 3px;
    padding: 0px;
    background-color: #FFFFFF;
    margin-top: 5%;
}

body
{
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
    justify-content: center;
    background-image: url(../img/backgroud.jpg);
    /*
    background:#CCCCCC;
    */
    background-size: cover;
    background-position: center;
}

.container
{
    position: relative;
    width: 400px;
    background: #2C3752;
    padding: 60px 40px;
}

header
{
    font-size: 40px;
    color: #FFFFFF;
    margin-bottom: 60px;
    font-family: 'Montserrat', sans-serif;
}

.input-field, form .button
{
    margin: 25px 0;
    position: relative;
    height: 50px;
    width: 100%;
}

.input-field input
{
    height: 100%;
    width: 100%;
    border: 1px solid silver;
    padding-left: 15px;
    outline: none;
    font-size: 19px;
    transition: .4s;
}

input:focus
{
    border: 1px solid #1DA1F2;
}

.input-field label, span.show
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.input-field label
{
    left: 15px;
    pointer-events: none;
    color: grey;
    font-size: 18px;
    transition: .4s;
}

span.show
{
    right: 20px;
    color: #111;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    visibility: hidden;
    font-family: 'Open Sans', sans-serif;
}

input:valid ~ span.show
{
    visibility: visible;
}

input:focus ~ label,
input:valid ~ label
{
    transform: translateY(-33px);
    background:;
    font-size: 16px;
    color: #999966;
}

form .button
{
    margin-top: 30px;
    overflow: hidden;
    z-index: 111;
}

.button .inner
{
    position: absolute;
    height: 100%;
    width: 300%;
    left: -100%;
    z-index: -1;
    transition: all .4s;
    background: #E60012;
}

.button:hover .inner
{
    left: 0;
}

.button button
{
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.input-field .icon
{
    position: absolute;
    top: 13px;
    right: 0;
    font-size: 24px;
}

