.container-ms
{
    margin: 0 auto;
    padding: 0px;
    overflow: hidden;
    width: calc(100%);
    position: static;
    padding-left: 68px;
}

header, footer, .center-content
{
    width: 100%;
}

header
{
    background-color: red;
    font-size: 24px;
    width: 100%;
    color: white;
    height:50px;
    margin-bottom: 0px;
    align-items: center;
}

.operation
{
    float: left;
    margin-left: 10px;
    margin: 3px;
    font-size: 26px;
    vertical-align: middle;
}

#header-img
{
    width: auto;
    height:37px;
    margin: 2px;
    padding-right: 5px;
    margin-left: 10px;
    float: left;
    color:white;
}

.personnel
{
    float: right;
    margin: 3px 15px;
    font-size: 24px;
    vertical-align: middle;
}

.notification
{
    float: right;
    font-size: 24px;
    margin: 3px 15px;
    vertical-align: middle;
}


/* Clearfix to clear the float */
header::after
{
    content: "";
    display: table;
    clear: both;
}

.main-content
{
    display: flex;
    padding: 0px 5px;
}

.center-content
{
   width: 100%;
}

.center-content img
{
   width: 100%;
   max-height: 50vh;
}

@media (max-width: 768px)
{
    .center-content
    {
        width: 100%;
    }
}

.left, .center, .right
{
    width: 100%;
    border: 1px solid #ddd;
    padding: 0px 5px;
    box-sizing: border-box;
    background: #FFFFFF;
}

/* Create two columns/boxes that floats next to each other */
.left
{
    float: left;
    width: 20%;
    padding: 0px;
    height: 73vh;
}

.center
{
    float: left;
    padding: 0px;
    width: 56%;
    position: relative;
    height: 73vh;
}

.right
{
    float: right;
    width: 24%;
    padding: 0px;
    height: 73vh;
}

/* underlined */
.highlight
{
    text-decoration: underline black;
    text-align: center;
}

/* Style left */

#tigtening
{
    font-size: 18px;
    margin-top: 0%;
}

.custom-border
{
    border-bottom: 2px solid #00572B; /* Change to your desired border color */
    padding-bottom: 5px; /* Adjust as needed */
}

.center-text
{
    text-align: center;
    align-content: center;
    align-items: center;
    font-size: 3.2vmin;
    margin-bottom: 2%;
    background-color: #CCFFCC;
    height: 57px;
}

#Torque
{
    align-items: center;
    height: 50px;
    float: left;
    align-content: center;
    line-height: 1.6;
    margin-bottom: 3%;
    text-align: center;
    background-color: #F2F1F1;
}

#Thread
{
    align-items: center;
    height: 50px;
    float: left;
    align-content: center;
    line-height: 1.6;
    margin-bottom: 3%;
    text-align: center;
    background-color: #F2F1F1;
}

/* Style center */
.btn-menu
{
    bottom: 0;
    right: 0;
    position: absolute;
}

.btn-menu button
{
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color:#AAA;
    font-size: 20px;
    opacity: 0.8;
    height: 50px;
    width: 50px;
    border: none;
    color: #000;
    box-shadow: 0 3px 7px 1px #AAA;
}

/* The Modal (background) */
.modal
{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0%;
    top: 0%;
    overflow: auto; /* Enable scroll if needed */
    padding-top: 0px;
}

.modal-header
{
    border-radius: 0;
    padding: 0;
    height: 50px;
    background-color: #DDDDDD;
}

/* Modal Content/Box */
.modal-content
{
    background-color: #fff;
    margin: 0% auto 0% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
}

.modal-footer
{
    border-radius: 0;
    height: 55px;
    padding: 0;
    background-color: #DDDDDD;
}

.modal-footer button
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Clear floats */
.clearfix::after
{
    content: "";
    clear: both;
    display: table;
}

.center
{
    justify-content: center;
    align-items: center;
    border-spacing: 40px;
}

#JobName
{
    width: 260px;
    height: 200px;
    font-size: 16px;
    float: center;
    font-weight: bold;
    cursor: pointer;
    border-radius: Opx;
    background-color: #fff;
    border: none;
    border: 1px solid;
    border-radius: 2px;
    color: #000;
    appearance: none;
    padding: 0px 0px 0px 0px;
    transition: color 0.s ease, background-color 0.3s ease, border-bottom-color 0.3s ease;
}

/* Style right */
#task-setting
{
    display: inline-block;
    align-items: center;
    justify-content: space-around;
}

ol
{
    counter-reset: li;
    list-style: none;
    align-items: center;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

ol a
{
    float: left;
    width: 88%;
    padding-left: 0px;
    font-size: 18px;
    position: relative;
    display: block;
    padding: .2em .4em .4em .8em;
    margin: .1em 0 .5em 2em;
    background: #fff;
    border: 2px solid #44d0ff;
    text-align: left;
    color: #444;
    text-decoration: none;
    transition: all .3s ease-out;
}

ol a:before
{
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -2.8em;
    top: 50%;
    margin-top: -1.1em;
    background: #444;
    color: #fff;
    height: 2.2em;
    width: 2.2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}

ol a:after
{
    position: absolute;
    content: "";
    border: 0.7em solid transparent;
    left: -1.0em;
    top: 50%;
    margin-top: -.7em;
    transition: all .3s ease-out;
}

ol a:hover:after
{
    left: -.5em;
    border-left-color: #444;
}

#step1 a
{
    color: #000;
}

.dropdown-content
{
    display: none;
    margin-left: 37px;
    font-size: 14px;
    width: 79%;
    z-index: 10; /* Sit on top */
    text-align: left;
    background-color: #F2F1F1;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
}

/* Style the footer */
/* Float four columns side by side */
.column
{
    float: left;
    width: 25%;
    padding: 0 5px;
    margin-top: 10px;
}

.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after
{
    content: "";
    display: table;
    clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px)
{
    .column
    {
        width: 100%;
        display: block;
        padding: 0px;
    }
}

/* Style the counter cards */
.zoom
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 11vh;
    padding: 0px;
    text-align: center;
    background-color: #CFCFCF;
    color: black;
    border-radius: 5px;
}

.zoom-border
{
    position: relative;
    display: inline-block;
    overflow: hidden;
}


/* Style the footer */
.footer
{
    width: 100%;
    height: 14vh;
    display: flex;
    background-color:#F2F1F1;
    padding: 3px 0px;
    text-align: center;
}

